<!DOCTYPE html>
<html>
<head>
  <title>Ooops!</title>
</head>
<body>
  <div class="jumbotron text-center">
    <div class="container">
      <h2><%= message %></h2>
      <pre>
        <%= stackHighlighted %>
      </pre>
    </div>
  </div>
</body>
</html>
