<!DOCTYPE html>
<html>
<head>
  <title>Lego Inventory</title>
</head>
<body>
  <div class="jumbotron text-center">
    <div class="container">
      <h1>For all your Lego sets!</h1>
    </div>
  </div>
</body>
</html>
